@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  --color-primary-50:  #f0fdf4;
  --color-bg:         #0b0f0c;
  --color-card:       #0f1511;
  --color-border:     #1f2a22;
}

body { @apply bg-neutral-950 text-neutral-100; }
